*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#081225;
color:white;
padding:20px;
}

.container{
max-width:1400px;
margin:auto;
}

header{
text-align:center;
margin-bottom:25px;
}

header h1{
font-size:42px;
margin-bottom:10px;
color:#ffffff;
}

header p{
font-size:18px;
color:#9ca3af;
}

.top-bar{
display:flex;
gap:12px;
flex-wrap:wrap;
background:#172338;
padding:20px;
border-radius:15px;
margin-bottom:25px;
}

.top-bar select,
.top-bar input{
padding:14px;
border:none;
border-radius:10px;
font-size:16px;
}

.top-bar input{
flex:1;
min-width:250px;
}

.top-bar button{
padding:14px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

.top-bar button:hover{
background:#1d4ed8;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
margin-bottom:25px;
}

.card{
background:#172338;
padding:25px;
border-radius:15px;
text-align:center;
}

.card h3{
font-size:22px;
margin-bottom:15px;
}

.card p{
font-size:30px;
font-weight:bold;
color:#22c55e;
}

.dashboard{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
margin-bottom:25px;
}

.panel{
background:#172338;
padding:20px;
border-radius:15px;
}

.panel h2{
margin-bottom:20px;
font-size:28px;
}

.news-item{
background:#0f172a;
padding:18px;
border-radius:12px;
margin-bottom:12px;
font-size:18px;
line-height:1.6;
}

.risk-box{
padding:18px;
border-radius:12px;
margin-bottom:12px;
font-size:18px;
font-weight:bold;
text-align:center;
}

.green{
background:#15803d;
}

.yellow{
background:#ca8a04;
}

.red{
background:#dc2626;
}

.full-width{
margin-top:20px;
}

.world-map{
height:350px;
background:#0f172a;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
font-size:32px;
font-weight:bold;
color:#60a5fa;
}

@media(max-width:900px){

.dashboard{
grid-template-columns:1fr;
}

header h1{
font-size:30px;
}

.card p{
font-size:24px;
}

.panel h2{
font-size:22px;
}

.world-map{
height:250px;
font-size:22px;
}

}
